*{
	margin: 0;
	padding: 0;
}

body{
	background-image: url('../img/bg-image.png');
}

ul{
	list-style: none;
}

.clearfix:after{
	content: '';
	display: block;
	clear: both;
}

.fl-r{
	float: right;
}

.fl-l{
	float: left;
}

.wrapper{
	width: 1000px;
	margin: 38px auto 0 auto;
	background-color: white;
	-webkit-box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.7);
	-moz-box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.7);
	box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.7);
}

.header{
	height: 164px;
	padding: 11px 33px 0 28px;
	font-family: Tahoma;
    font-size: 12px;
    color: #128aa7;
}

.logo{
	height: 100%;
}
.logo img{
	display: block;
}
.logo-text{
	height: 0px;
	position: relative;
    left: 70px;
    bottom: 73px;
}

.contacts p{
	line-height: 18px;
}
.contacts h4{
	margin-bottom: 7px;
}

.countries{
	clear: right;
	margin-top: 100px;
	text-align: right;
}
.countries li{
	display: inline-block;
	margin-right: 10px;
    text-align: center;
}
.countries li:last-child{
	margin-right: 0;
}
.countries li a{
    display: block;

    font-family: Tahoma;
    font-size: 10px;
    color: #128aa7;
}

.header-img{
	display: block;
	border-top: 1px solid #128aa7;
	border-bottom: 1px solid #128aa7;
}

.separator{
	height: 1px;
	background-color: #cacbcb;
}

.top-menu{
	padding-left: 30px;
	padding-right: 30px;
	margin-top: 1px;
	border-bottom: 1px solid;
	position: relative;
	background: #303030; /* Для старых браузров */
    background: linear-gradient(to bottom, #373737, #303030);
    -webkit-box-shadow: 0px 2px 4px 1px rgba(0,0,0,0.7);
	-moz-box-shadow: 0px 2px 4px 1px rgba(0,0,0,0.7);
	box-shadow: 0px 2px 4px 1px rgba(0,0,0,0.7);
}
.top-menu li{
	width: 130px;
	display: inline-block;
	position:relative;
	line-height: 28px;
	text-align: center;
}
.top-menu li:hover ul{
	display: block;
}
.top-menu li a{
	display: block;
	text-decoration: none;
    color: white;
    font-size: 14px;
    font-family: Tahoma;
}
.top-menu li ul + a:after{
	content: url('../img/triangle.png');
	margin-left: 6px;
}

.top-menu ul{
	top: 28px;
	position:absolute;
	display:none;
	border-top: 1px solid;
	background: #303030; /* Для старых браузров */
    background: linear-gradient(to bottom, #373737, #303030);
    -webkit-box-shadow: 0px 2px 4px 1px rgba(0,0,0,0.7);
	-moz-box-shadow: 0px 2px 4px 1px rgba(0,0,0,0.7);
	box-shadow: 0px 2px 4px 1px rgba(0,0,0,0.7);
}
.top-menu li:hover ul li a:hover{
	-moz-transform:scale(1.05);
	-webkit-transform:scale(1.05);
	transform:scale(1.05);
}


.content-wrapper{
	height: 546px;
	overflow: hidden;
}

.content-wrapper > div{
	padding-top: 10px;
	padding-right: 15px;
	padding-left: 15px;

	padding-bottom: 20000px;
	margin-bottom: 20000px;
}

.info{
	width: 179px;
	border-right: 1px solid #c7cacf;
	background-color: #edeef0;
}

.content{
	width: 550px;
}

.news{
	width: 179px;
	border-left: 1px solid #c7cacf;
	background-color: #edeef0;
}

.footer{
	line-height: 30px;
	text-align: center;
	color: white;
	font-family: Tahoma;
	font-size: 10px;
}