body{
	background-color: #EDEDED;
	font-size: 17px;
}

h2{
	text-align: center;
}

p{
	line-height: 25px;
}

ul{
	padding-left: 25px;
}

li{
	line-height: 25px;
}

.content{
	background: white;
	max-width: 462px;
	margin: 4px auto;
	padding: 34px 51px;
	-webkit-box-shadow: 0px 0px 3px 0px rgba(0,0,0,1);
	-moz-box-shadow: 0px 0px 3px 0px rgba(0,0,0,1);
	box-shadow: 0px 0px 3px 0px rgba(0,0,0,1);
}

.row{
	padding: 3px 12px;
	border-bottom: solid 1px #7a7a7a;
}

.photo{
	margin: 5px auto;
	text-align: center;
	width: auto;
    height: auto; 
}

.photo > img{
	width: 215px;
}

.header{
	padding-top: 0;
}

.footer{
	border-bottom: 0;
}
