body{
	background-color: #EDEDED;
	font-size: 17px;
}

h2{
	text-align: center;
}

p{
	line-height: 25px;
}

ul{
	padding-left: 25px;
}

li{
	line-height: 25px;
}

.m-t-md{
	margin-top: 15px;
}

.content{
	background: white;
	max-width: 462px;
	margin: 4px auto;
	padding: 34px 51px;
	-webkit-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.5);
	-moz-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.5);
	box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.5);
}

.row{
	padding: 3px 12px;
	border-bottom: solid 1px #999999;
}

.photo{
	margin: 0 auto;
	text-align: center;
	width: auto;
    height: auto; 
}

.photo > img{
	width: 133px;
	border-radius: 10px;
}

.first-row{
	padding-top: 0;
}

.last-row{
	border-bottom: 0;
}
